<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>   
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  </configSections>
  <appSettings>
    <add key="SNP_REPORT_PATH" value="D://SNP_REPORTS/ROOT/SNP_XML"/>
    <add key="SNP_FTP" value="ftp://59.163.254.77/SnP/"/>
    <add key="USER_NAME" value="ldc-win-ftp"/>
    <add key="PASSWORD" value="n60VU#WP"/>    
  </appSettings>
  <log4net>
    <appender name="AppRollFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs\\logfile"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyy_MM_dd.log"/>
      <maxSizeRollBackups value="10"/>
      <maximumFileSize value="10240KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>    
    <appender name="NotifRollFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="NotifLog\\Notifcation"/>
      <appendToFile value="true"/>
      <rollingStyle value="Composite"/>
      <datePattern value="yyyy_MM_dd.log"/>
      <maxSizeRollBackups value="5"/>
      <maximumFileSize value="10240KB"/>
      <staticLogFileName value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%d [%t] %-5p %m%n"/>
      </layout>
    </appender>
    <appender name="AppEmailFileAppender" type="log4net.Appender.SmtpAppender">
      <to value="g.gayan@directfn.com"/>
      <from value="estore@mubasher.net"/>
      <subject value="Email Logger Tester from Web"/>
      <smtpHost value="usermail.net"/>
      <bufferSize value="1"/>
      <lossy value="false"/>
      <!--<evaluator type="log4net.Core.LevelEvaluator">
        <threshold value="WARN"/>
      </evaluator>-->
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%newline%date [%thread] %-5level %logger [%property{NDC}] - %message%newline%newline%newline"/>
      </layout>
    </appender>
    <logger name="NotifRollFile">
      <level value="INFO"/>
      <appender-ref ref="NotifRollFileAppender"/>
    </logger>
    <logger name="ApplicationRollFile">
      <level value="INFO"/>
      <appender-ref ref="AppRollFileAppender"/>
    </logger>    
    <logger name="ApplicationEmailFileAppender">
      <level value="INFO"/>
      <appender-ref ref="AppEmailFileAppender"/>
    </logger>
    <!--<root>
      <level value="INFO" />
      <appender-ref ref="RollingFile" />      
    </root>-->
  </log4net>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.0"/>
  </startup>
</configuration>